---
layout: default
---

  <h1>Posts</h1>

    {% for post in site.posts %}

    <h2>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <h5>{{ post.date | date: "%b %-d, %Y" }}</h5>
    
    {% if post.excerpt %}
    <p>{{ post.excerpt | strip_html }}</p>
    <a href="{{ post.url }}">Read More</a>
    {% endif %}

    {% endfor %}
  </ul>