<div id="sidebar"><div id="sidebar-container">
    <a href="/"><h1>{{site.title}}</h1></a>
    <span>{{site.subtitle}}</span>
    {% for link in site.links %}
    <a href="{{link | split: ' ' | last}}">{{link | split: ' ' | first}}</a>
    {% endfor %}
    <br>
    <span>© 2018. All rights reserved.</span>
</div></div>