html, body {
  margin: 0;
}

a, span, p {
  font-size: 1.2rem;
  margin: .5rem 0;
}

span, p, h1, h2, h3, h4, h5 {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
}

h2, h2 > a {
  font-size: 2rem;
  color: $brand_color;
  margin-bottom: .4rem;
  text-decoration: none;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: .2rem;
}

h4 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: .2rem;
}

h5 {
  font-size: 1rem;
  margin: .2rem 0;
  font-style: italic;
  font-weight: normal;
}

#sidebar {
  background: $brand_color;
}

#sidebar h1 {
  font-size: 4rem;
  line-height: 4.2rem;
  margin: 0;
}

#sidebar span {
  color: $brand-color-light;
  margin-bottom: 1rem;
  margin-left: .5rem;
}

#sidebar a {
  display: block;
  color: white;
  font-weight: initial;
  margin: .2rem .5rem;
}

#sidebar-container {
  position: absolute;
  bottom: 2rem;
  margin-left: 1rem;
  @media only screen and (max-width : $break-small) {
    position: relative;
    bottom: auto;
    margin-top: 2rem;
  }
}

#sidebar {
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18rem;

  @media only screen and (max-width : $break-small) {
    position: relative;
    bottom: auto;
    padding: 2rem 0;
    width: 100%;
  }  
}

#content {
  margin-top: 4rem;
  margin-bottom: 8rem;
  margin-left: 22rem;
  max-width: 44rem;
  min-height: 100%;
  @media only screen and (max-width : $break-small) {
    margin-left: 2rem;
  }  

}